.wrapper {
  width: 100%;
  margin: 0;
  background-color: #111;
  min-height: 100vh;
  display: flex;
}

.wrapper__title {
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 6%;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper__user__row {
  display: flex;
  justify-content: center;
}

.wrapper__user__col {
  display: flex;
  /* max-width: 200px; */
  flex-direction: column;
  align-items: center;
}

.wrapper__avatar {
  transition: 450ms;
  flex: 1;
}

.wrapper__avatar:hover {
  transform: scale(1.09);
}

.wrapper__icon {
  background-color: white;
  flex: 1;
  transition: 450ms;
}

.wrapper__icon:hover {
  transform: scale(1.09);
}

.wrapper__username {
  color: white;
  display: flex;
  padding-top: 10%;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    display: flex;
  }
}
